html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
}

body {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#espacioBlanco {
  width: 100%;
  height: 100px;
}

#titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  margin-top: -50px;
  margin-bottom: 50px;
  color: #eeeee9;
}

img#logo {
  display: inline;
  justify-content: center;
  margin-top: -100px;
  width: 650px;
  height: 250px;
}

#nombreGrupo {
  font-size: 10em;
  color: #eeeee9;
  float: right;
}

#imagenGrupo {
  border-radius: 50%;
  max-width: 25%;
  max-height: 25%;
  float: left;
}

#Buscar {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
  width: 100vh;
  background-color: #eeeee9;
}

div#Botones {
  width: 100%;
  padding: 0.8em;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.botoncitos {
  border: 2px solid transparent;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 20px;
  font-size: xx-large;
  margin: 10px;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
  color: #474444;
}

#Botones button:hover {
  background-color: #555151;
  color: #eeeee9;
  border: 2px solid #e9a510;
}

ul > li > a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  justify-content: start;
  flex-wrap: wrap;
  display: block;
  text-align: left;
  color: white;
  opacity: 1;
  transition: 0.9s;
}

ul > li > a:hover {
  color: #e9a510;
  opacity: 1;
}

section#Resultados {
  font-size: xx-large;
  gap: 30px;
}
